{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Transaction type</th>
            <th class="text-end">Quantity</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for row in history %}
            <tr>
                <td class="text-start">{{ row["symbol"] }}</td>
                <td class="text-start">{{ row["type"] }}</td>
                <td class="text-end">{{ row["quantity"] }}</td>
                <td class="text-end">{{ row["price"] }}</td>
                <td class="text-end">{{ row["total"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
